/* Estilos globales */
html,
body {
  @apply w-full overflow-x-hidden bg-white font-sans; /* Usa clases de Tailwind */
  margin: 0; /* Agrega esto manualmente */
  padding: 0; /* Agrega esto manualmente */
  min-width: 320px; /* Esta regla sigue específica */
}
