html,
body {
  @apply w-full overflow-x-hidden bg-white font-sans;
  margin: 0;
  padding: 0;
}

#root, 
.container, 
main {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

}